.wrapper {
  cursor: pointer;
  padding: 8px 10px;
  border-radius: 8px;

  text-decoration: none;
  transition: opacity .15s ease-out;
  color: var(--text-secondary);
}

.wrapper:active {
  opacity: .5;
}

@media (hover: hover) and (pointer: fine) {
  .wrapper:hover {
    background: var(--states-background-hovered-neutral-fade);
  }
}
